*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background-color: hsl(217, 28%, 15%);
 
  padding:2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.navbar_right{
  display: flex;
  gap:1rem;
  align-items: center;
  list-style: none;
  color: white;
}
/* ==============================main========================== */
.main{
  background:hsl(218, 28%, 13%);
  
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.illustration-intro{

  width: 70vw;
}
.main-h2{
  padding:1rem 0 1rem 0;
  color: white;
  text-align: center;
}
.main-para{
  color:snow;
  font-size: 14px;
  text-align: center;
}
.main-button{
  margin-top: 2rem;
  border:1px solid white;
  background:rgba(19, 201, 251, 0.962);
  width: 20vw;
  height:10vh;
  border-radius: 30px;
  color: white;
  font-size: 20px;

}
.center{
  margin:3.5rem ;
  align-items: center;

}
.center1{
  margin: 1rem 1rem 2rem 1rem;
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

  
}
.center2{
  margin: 1rem 1rem 2rem 1rem;
  display:flex ;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.icon-div{
  
}
.same-icon{
  margin: 20px;
}
.center-h3{
  margin:30px;
}
.center-para{
margin-right:30px;
color:snow;
font-size: 14px;
}
.main-last{
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-div{
  margin: 3rem;

}
.last-div h1{
  margin-bottom: 1.5rem;
}
.last-para{
  margin-bottom:1.5rem;
  font-size: 14px;
}
.last-div a{
  color: hsl(176, 68%, 64%);
}
.fylo-work{
  display: flex;
  align-items: center;
  gap: 5px;
}
